*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    height: 70px;
    text-align: center;
    color: rgb(225, 240, 254);
    background-color: rgb(68, 72, 104);
    line-height: 70px;
}

.game{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.game:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: black;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    gap: 100px;
    margin-top: 50px;
}

.msg-container{
    margin-top: 50px;
}

#msg{
    background-color: black;
    color: white;
    font-size: 50px;
    display: inline;
    padding: 10px;
    border-radius: 20px;
}